*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.reader {
    width: 100vw;
    height: 100%;
    position: relative;
}

.reader-video {
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.arjs-loader div {
text-align: center;
font-size: 1.25em;
color: white;
}

.option {
    text-align: center;
    width: 25%;
}

.modal-dialog-fluid {
    max-width: inherit;
    width: 98%;
    margin-left: 15px;
  }

  .image-wrapper {
    background-color: #000000;
  }
  .image-wrapper img {
    display: block;
    color: black;
  }

.title {
  color: white;
  font-family: 'arial black';
  font-size: 30px;
}

#loaded-message {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
}

.btn-close {
  background-image: url('../assets/images/close-modal.png');
  color: black;
  background-size: 100%;
}

.instruction {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
}

#quiz {
  height: 100px;
}

.choice {
  width: 30%;
}

.unit-result {
  margin-top: 50px;
}

a {
  border:none;
  text-decoration:none;
  background-color:none;
  cursor:pointer;
  padding:0;
  -webkit-appearance: none;
  *overflow: visible;
}